<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="study-tab">
      <ion-icon name="book"></ion-icon>
      <ion-label>Study</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="schedule-tab">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="social-tab">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Social</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings-tab">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
